li,p {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.primary li{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.container{
    background-color: #ffcdb2;
}
.primary ul{
    list-style: none;
}
.primary{
    background-color: #fcf4f080;
}

.design-process{
     height: 500px;
   
}
.interview-row{
  background-color: floralwhite;
} 

img { max-width: 100%; height: auto; }
 
@media screen and (max-width: 450px) {
  .container{
    padding: 1rem;
    width: 100vw;
  }
  .col-sm img{
    max-width: 80vw;
  }
    
}