header{
    background-color: #e5989b;
    margin-bottom: 3rem;
}
ul{
    list-style: none;
}
li{
    font-weight: 300;
}
h1{
font-weight: 800;
padding: 15px;
font-size: 6rem;
}
body{
    background-color: #FFFFFF;
}
 