section{
    margin: 2rem;
}
body{
    background-color: #331832;
    width: 100%;
}
main{
    width: 100%;
    margin: 0px auto;
}

.container h2{
    color: #ECCE8E;
    font-size: 8vh;
    margin-bottom: 0;
    font-weight: 100;
}
.container h1 {
    color: #ECCE8E;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 100;
    padding-bottom: 3rem;
}

/*navbar*/
.
 
/* introduction*/
#intro{
    min-height: 100vh;
}
#intro h3{
    color: #ECCE8E;
    font-size: 8vh;
    margin-bottom: 0;
    font-weight: 100;
}
#intro h1{
    color: #C2C6A7;
    font-size: 20vh;
    margin: 0;
}
/* projects */
#projects p{
    color:#DBCF96 ;
    text-align: center;
}
 
